@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

header {
  background-image: url("Automotive.png");
  color: white;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  background-position: center center;
  align-items: flex-start;
}

.content {
  margin: auto;
  font-size: 2rem;
}

.content h1 {
  color: white;
  margin-bottom: 0;
  font-weight: 2000;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
nav .logo {
  font-size: 2rem;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 100%;
  width: 1000px;
}

nav li a {
  color: white;
  padding: 1rem;
  text-decoration: none;
}

.highlight {
  background-color: #6f69ac;
  color: white;
  text-decoration: none;
  padding: 1rem;
}

.selected {
  font-weight: bold;
}

#Visit {
  margin-top: 10px;
  font-weight: 500;
}
